<div class="row">
  <div class="col-6">
    <div class="product-cart">
      <img [src]="p.imageUrl" alt="Card image cap">
        <p>{{p.productName}}</p>
        <small>{{p.price}}</small>
      </div>
      <small id="desc">{{p.description}}</small>
  </div>
  <div class="col-2 p-0">
    <p 
      min="1"
      type="number"
      value="quantity"
      name=""
      
    ><strong><button (click)="sub()" class="add-nd-dec">-</button></strong> {{p.quantity}} <strong><button (click)="add()">+</button></strong></p>
  </div>
  <div class="col-2 pr-0">
        <div class="price">{{p.price}}</div>
  </div>
  <div class="col-1 pl-0">
    <button (click)="delete(p.id)" class="px-2 py-0 text-red-100 bg-red-600 rounded">
      x
    </button>  </div>
</div>
