
    <td class="p-4 px-6 text-center whitespace-nowrap"><img src="" class="h-full w-full object-cover object-center"/></td>
    <td class="p-4 px-6 text-center whitespace-nowrap">productName</td>
    <td class="p-4 px-6 text-center whitespace-nowrap">
      <div>
        <button >-</button>
        <input
          type="text"
          name="qty"
          value="0"
          class="w-12 text-center bg-gray-100 outline-none"
        />
        <button>+</button>
      </div>
    </td>
    <td class="p-4 px-6 text-center whitespace-nowrap">200$</td>
    <td class="p-4 px-6 text-center whitespace-nowrap">
      <button class="px-2 py-0 text-red-100 bg-red-600 rounded">
        x
      </button>
    </td>
 
