<div class="beauty-container">
    

    <div class="bg-gray-100">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div
          class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none"
          class="aa"
        >
          <div>
            <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
              
              
                    <div *ngFor="let product of allProducts">
                        <div class="group relative">
                            <div class="relative w-full h-80 bg-grey rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                              <img
                                style=" width: 200px; height:200px"
                                [src]="product.imageUrl"
                                alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                              />
                            </div>
                            <h3 class="mt-6 text-sm text-gray-500">
                              <span class="absolute inset-0"></span>
                             {{product.productName}}
                            </h3>
                      
                            <br/>
                            <div class="btn-wraper">
                              <p class="text-base font-semibold text-gray-900">{{product.price}} TND</p>
                              <div>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="h-6 w-6"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke="currentColor"
                                  stroke-width="2"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                                  />
                                </svg>
                                <br/>
                      
                              </div>
                      
                             <button class="">More details</button> 
                            </div>
                      
                            <br/>
                          </div>
                      <button
                        class="btn1"
                      >
                        Buy
                      </button>
                      <br/>
                    </div>
                    <div>
                        <div class="group relative">
                            <div class="relative w-full h-80 bg-grey rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                              <img
                                style=" width: 200px; height:200px"
                                src=""
                                alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                              />
                            </div>
                            <h3 class="mt-6 text-sm text-gray-500">
                              <span class="absolute inset-0"></span>
                              productName
                            </h3>
                      
                            <br/>
                            <div class="btn-wraper">
                              <p class="text-base font-semibold text-gray-900">prod.price TND</p>
                              <div>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="h-6 w-6"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke="currentColor"
                                  stroke-width="2"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                                  />
                                </svg>
                                <br/>
                      
                              </div>
                      
                             <button class="">More details</button> 
                            </div>
                      
                            <br/>
                          </div>
                      <button
                        class="btn1"
                      >
                        Buy
                      </button>
                      <br/>
                    </div>
                    <div>
                        <div class="group relative">
                            <div class="relative w-full h-80 bg-grey rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                              <img
                                style=" width: 200px; height:200px"
                                src=""
                                alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                              />
                            </div>
                            <h3 class="mt-6 text-sm text-gray-500">
                              <span class="absolute inset-0"></span>
                              productName
                            </h3>
                      
                            <br/>
                            <div class="btn-wraper">
                              <p class="text-base font-semibold text-gray-900">prod.price TND</p>
                              <div>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="h-6 w-6"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke="currentColor"
                                  stroke-width="2"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                                  />
                                </svg>
                                <br/>
                      
                              </div>
                      
                             <button class="">More details</button> 
                            </div>
                      
                            <br/>
                          </div>
                      <button
                        class="btn1"
                      >
                        Buy
                      </button>
                      <br/>
                    </div>
                 
                
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="third-verticale">
      <img
        src="https://www.designhill.com/design-blog/wp-content/uploads/2017/07/offer-deal.png"
        style=" width: 300px; height: 400px"
      />
      <br/>
      <img
        src="https://i.pinimg.com/originals/47/cd/dd/47cddd0849f5845fbbf9026e22736b9a.jpg"
        style=" width: 300px; height:800px"
      />
      <br/>
      <img
        src="https://djx5h8pabpett.cloudfront.net/wp-content/uploads/sites/4/2021/08/04095342/Victorias_Secret_Bombshell.jpg"
        style=" width:300px; height: 800px"
      />
    </div>
  </div>