
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Edit</h1>
            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                UserName="username"
                placeholder="UserName" />

            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="phone"
                placeholder="Phone" />

                <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="adress"
                placeholder="Adress" />    

            
            
                
                <div class="rounded-md shadow">
            <button
                type="submit"     class="block border border-grey-light w-full p-3 rounded mb-4"
                >  Update</button>

       </div>
           
        </div>

        
    </div>
</div>