<div class="beauty-container">  
    <div class="userTitleContainer"></div>
    <div class="userContainer">
      <div class="userShow">
        <div class="userShowTop"></div>
        <div class="userShowBottom">
          <span class="userShowTitle">Account Details</span>
          <div class="userShowInfo">
            <span class="userShowInfoTitle">userName</span>
          </div>
          <div class="userShowInfo"></div>
          <span class="userShowTitle">Contact Details</span>
          <div class="userShowInfo">
            <span class="userShowInfoTitle">phoneNumber</span>
          </div>
          <div class="userShowInfo">
            <span class="userShowInfoTitle">email</span>
          </div>
          <div class="userShowInfo">
            <span class="userShowInfoTitle">adress</span>
          </div>
        </div>
      </div>
      <div class="userUpdate">
        <span class="userUpdateTitle">Edit</span>
        <form class="userUpdateForm">
          <div class="userUpdateLeft">
            <div class="userUpdateItem">
              <label>Username</label>
              
              <input
                value=""
                type="text"
                placeholder="Username"
                class="userUpdateInput"
              />
            </div>

            <div class="userUpdateItem">
              <label>Phone</label>
              <input
                value=""
                type="text"
                placeholder="Phone Number"
                class="userUpdateInput"
              />
            </div>
            <div class="userUpdateItem">
              <label>Address</label>
              <input
                value=""
                type="text"
                placeholder="Address"
                class="userUpdateInput"
              />

              <br/>
              <br/>
            </div>
          </div>
          <div class="userUpdateRight">
            <div class="userUpdateUpload"></div>
            <button
              class="btn"
              style="margin-left:40px"
             
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>