<div>
    <nav class="navbar bg-gray-900">
      <div class="navbar-logo ">
      Shopium
        <p>icon</p> 
      </div>
      <ul class="nav-items">
        <li key="1" class="nav-item">
          <div><a>Home</a></div>
        </li>
        <li key="2" class="nav-item">
          <div><a>About-us</a></div>
        </li>
        <li key="3" class="nav-item">
          <div><a>Shop</a></div>
        </li>   
          <li key="4" class="nav-item">
            <div><a>Admin</a></div>
          </li>
       
  
          <li key="5" class="nav-item">
            <div ><a>Account</a></div>
          </li>
       
          <li key="6" class="nav-item">
            <div><a>Login</a></div>
          </li>
       
          <li key="7" class="nav-item">
            <div >
              <a>logout</a>
            </div>
          </li>
          <li key="8" class="nav-item">
            <div >
              <button class="btn">Sign Up</button>
            </div>
          </li>
      </ul>
    </nav>
  </div>