<div>
  {{user|json}}
  <nav class="navbar bg-gray-900">
    <div class="navbar-logo">
      Shopium


      <p>icon</p>
    </div>
    <ul class="nav-items">
      <li key="1" class="nav-item">
        <div><a routerLink="/home">Home</a></div>
      </li>
      <li key="2" class="nav-item">
        <div><a>About-us</a></div>
      </li>
      <li key="3" class="nav-item">
        <div><a routerLink="/navigateProds">Shop</a></div>
      </li>

      <li key="5" class="nav-item">
        <div><a routerLink="/myaccount">Account</a></div>
      </li>

      <li *ngIf="!connected" key="6" class="nav-item">
        <div>
          <a routerLink="/login">Login</a>
        </div>
      </li>

      <li *ngIf="connected" key="7" class="nav-item">
        <div>
          <a (click)="logout()">logout</a>
        </div>
      </li>
      <li *ngIf="!connected" key="8" class="nav-item">
        <div>
          <button class="btn" routerLink="/signup">Sign Up</button>
        </div>
      </li>
    </ul>
  </nav>
</div>
