<div>
  <div>
    <div class="newProduct">
      <h1 class="addProductTitle">Update Product</h1>
      <img style="width: 300px; height: 300px" src="img" alt="img" />
      <form class="addProductForm">
        <div class="addProductItem">
          <label>Product Name</label>
          <input name="productName" type="text" placeholder="Product name..." />
        </div>
        <div class="addProductItem">
          <label>Description</label>
          <input name="description" type="text" placeholder="description..." />
        </div>
        <div class="addProductItem">
          <label>Price</label>
          <input name="price" type="number" placeholder="100" />
        </div>

        <div class="addProductItem">
          <label>Stock</label>
          <input type="text" name="stock" placeholder="Stock..." />
        </div>
      </form>
    </div>
    <a to="/adminview">
      <button type="submit" class="updateProductButton">Update</button>
    </a>
  </div>
</div>
